<h3 style="text-align:center; line-height: 40px; padding: 20px 0px">
  <strong>Quiz Title:</strong>
  <%= @quiz.title %>
</h3>

<% @q = Question.where(quiz_id: @quiz.id) %>
<% count = 0 %>
<%= form_tag(@quiz) do |f| %>
<table class="table " >
<thead>
<tr>
	<th>Question</th>
	<th>Option 1</th>
	<th>OPtion 2</th>
	<th>Option 3</th>
	<th>Option 4</th>
</tr>			
</thead>
<tbody>
	<% @q.each do |row| %>
		<tr>
			<td>
			  <strong>Question <%= count += 1 %>:</strong>
			  <%= row.entry %>
			</td>

			<% answers = [row.option1, row.option2, row.option3, row.answer] %>
			<% answers.shuffle.each do |answer| %>
				<td style="vertical-align: middle">
					<input type="radio" name="<%= row.id %>" value="<%= answer %>">
				  	<%= answer %>
				</td> 
			<% end %>
		</tr>
		<% end %>
		<input type="hidden" name="quiz_id" value="<%= @quiz.id %>" />
</tbody>
</table>
		<button class="btn btn-primary" name="commit" type="submit">Submit Quiz</button>
	<% end %>	
