<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz Title:</strong>
  <%= @quiz.title %>
</p>

<% @q = Question.where(quiz_id: @quiz.id) %>
<% count = 0 %>
<table class="table">
		<% @q.each do |row| %>
		<th>
			<p>
			  <strong>Question <%= count += 1 %>:</strong>
			  <%= row.entry %>
			</p>

			<% answers = [row.option1, row.option2, row.option3, row.answer] %>
			<% answers.shuffle.each do |answer| %>
				<td style="vertical-align: middle">
					<input type="radio" name="<%= row.id %>" value="<%= answer %>">
				  	<%= answer %>
				</td> 
			<% end %>
		</th>
		<% end %>
</table>	


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
