<% if current_user %>
<%  @quizzes = Quiz.where(user_id: session[:current_user_id]) %>
<h2 style="text-align: center">Your Quiz List</h2>
<table class="table">
  <thead>
    <tr>
      <th>Quiz name</th>
      <th>Created by </th>
     <!-- <th></th>
       <th></th>
     <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><h3><%= link_to quiz.title, quiz, class: "link" %></h3></td>
        <td><span style="padding: 40px 0px; display: block;"><%= quiz.user["username"] %></span></td>
       <!-- <td><%= link_to 'Show', quiz %></td>
         <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
       <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="text-align: center"><%= link_to 'Create Your Own Quiz', new_quiz_path, class: "btn btn-primary btn-lg" %></div>
<% else %>
<meta http-equiv="refresh" content="0;URL='/signin.html'" />
<% end %>