<!DOCTYPE html>
<html>
<head>
  <title>Webapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="cols-sm-8">
<%= link_to "Home", :root, class: "btn btn-sm btn-primary", style: "float: left" %>
<% if current_user %>
            <%= link_to "Sign out", signout_path, method: "delete", class: "btn btn-sm btn-danger", style: "float: right" %>
 <% else %>
            <%= link_to "Sign in", signin_path, class: "btn btn-sm btn-primary", style: "float: right" %>
<% end %>
<div class="header">
	<%= image_tag("quirrot_logo.jpg") %>

</div>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key} alert-success alert", style: "font-size:20px" %>
<% end %>
<%= yield %>

</body>
</html>
<% flash[:notice] = nil %>
